body {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif, sans-serif; /* Altera a fonte */
    background-color: #a3a1be; /* Azul claro */
}

.header {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: #a3a1be;
    color: #00008b;
}

.container {
    width: 96%;
    margin: auto;
    background-color: #d5d5e6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #00008b;
}


.campo {
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

input[type="text"],
input[type="date"],
select[id="usuario"],
select[id="grupo"]{
    width: calc(110% - 2px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-top: 10px;
}

input[type="submit"] {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #00008b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.imagem-preview {
    margin-top: 20px;
    margin-right: 10px;
    width: 100%;
}

.imagem-preview img {
    max-width: 100%;
    margin-right: 10px;
    height: auto;
}