body {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif, sans-serif; /* Altera a fonte */
    background-color: #a3a1be; /* Azul claro */
}

#container {
    text-align: center;
    margin-top: 15px;
    }

.campo {
    display: inline-block;
    margin-right: 20px;
}

#logo {
    font-size: 100px; /* Aumentando o tamanho do nome */
    color: #00008b; /* Azul escuro */
    font-family: Calibri, sans-serif, sans-serif; /* Altera a fonte */
    margin-bottom: 8px; /* Adicionando espaço abaixo do nome */
}

#gerenciador {
    font-size: 30px; /* Tamanho da frase */
    color: #00008b; /* Azul escuro */
    margin-bottom: 10px; /* Espaço entre a frase e o retângulo */
}

#retangulo {
    margin-top: 40px;
    width: 30%;
    margin: auto;
    background-color: #b2b4ff; /* Cinza claro */
    border-radius: 10px;
    padding: 160px;
    border: 2px solid #00008b; /* Adicionando uma borda azul escuro */  
}

.icone {
    width: 80px;
    height: 80px;
    margin: 0 20px;
    display: inline-block;
    cursor: pointer;
}

.icone img {
    width: 100%;
    height: 100%;
}

#cadastrar{
    font-size: 20px;
    color: #00008b;
}

#pesquisar{
    font-size: 20px;
    color: #00008b;
}